doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    title Chennai Data Portal
    link(rel="stylesheet", type="text/css", href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css")
    script(type="text/javascript", src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js")
    link(rel="stylesheet", href="/style.css", type="text/css")
    script(type="text/javascript", src="//code.jquery.com/jquery-1.11.3.min.js")
  body
    #sidebar
      if map
        h3 #{map.name}
      else
        h3 Missing Roads Map
      h4#loading Loading...
      if user
        h4
          span Logged in as&nbsp;
          span#loggedin #{user.id}
    #map
    if map
      script(type="text/javascript") var georeactor = { map: "leaflet", div: "map", data: !{JSON.stringify(map.datafiles)}, tiles: !{ JSON.stringify(map.tilelayers || []) } }};
    else
      script(type="text/javascript") var georeactor = { map: "leaflet", div: "map", data: [], lat: 13.056235, lng: 80.25616, zoom: 12, tiles: ['http://{s}.tiles.mapbox.com/v3/mapmeld.map-a6ineq7y/{z}/{x}/{y}.png?updated=65f7243', 'https://{s}.tiles.mapbox.com/v4/planemad.ba506c30/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicGxhbmVtYWQiLCJhIjoiemdYSVVLRSJ9.g3lbg_eN0kztmsfIPxa9MQ']};
    script(type="text/javascript", src="/georeactor-tiles-osm.js")
    script(type="text/javascript", src="/georeactor-client-osm.js")
